{% extends "collector/base.html" %}
{% load staticfiles %}
{% block title %}Twitter Elections{% endblock %}
{% block banner %}
<div class="row">
		<aside class="col s5 l3 reset-padding">
			<div class="header">
				<p><i class="fa fa-filter" aria-hidden="true"></i> Filters</p>
			</div>
			<form action="" method="post">
        		{% csrf_token %}
				<ul class="collapsible collapsible-accordion reset-margin">
					<li><a class="collapsible-header waves-effect black-text">Parties</a>
					   <div class="collapsible-body">
					       <ul>
						       	<li>
						       		<p>
						       		{{ form.dp }}
						       		<label for="{{ form.dp.id_for_label }}">Democratic Party</label>
						            </p>
						        </li>
						        <li>
						        	<p>
						            {{ form.rp }}
						            <label for="{{ form.rp.id_for_label }}">Republican Party</label>
						        	</p>
						        </li>
					        </ul>
					    </div>
					</li>
					<li><a class="collapsible-header  waves-effect black-text">Candidates</a>
						<div class="collapsible-body">
					  		<ul>
					  			<li>
					  				<p>
					  				{{ form.dt }}
					  				<label for="{{ form.dt.id_for_label }}">Donald Trump</label>
					  				</p>
					  			</li>
					  			<li>
					  				<p>
					                {{ form.hc }}
					                <label for="{{ form.hc.id_for_label }}">Hillary Clinton</label>
					                </p>
					            </li>
					            <li>
					            	<p>
					                {{ form.mr }}
					                <label for="{{ form.mr.id_for_label }}">Marco Rubio</label>
					                </p>
					            </li>
					            <li>
					            	<p>
					                {{ form.tc }}
					                <label for="{{ form.tc.id_for_label }}">Ted Cruz</label>
					                </p>
					            </li>
					            <li>
					            	<p>
					                {{ form.bs }}
					                <label for="{{ form.bs.id_for_label }}">Bernie Sanders</label>
					                </p>
					            </li>
					        </ul>
					    </div>
					</li>
					<li><a class="collapsible-header  waves-effect black-text">Events</a>
						<div class="collapsible-body">
					  		<ul>
					  			<li>
					  				<p>
					  				{{ form.st }}
					  				<label for="{{ form.st.id_for_label }}">Super Tuesday</label>
					  				</p>
					            </li>
					            <li>
					            	<p>
					                {{ form.fp }}
					                <label for="{{ form.fp.id_for_label }}">Florida Primaries</label>
					                </p>
					            </li>
					            <li>
					            	<p>
					                {{ form.dd }}
					                <label for="{{ form.dd.id_for_label }}">Democratic Debate</label>
					                </p>
					                </li>
					            <li>
					            	<p>
					                {{ form.rd }}
					                <label for="{{ form.rd.id_for_label }}">Republican Debate</label>
					                </p>
					            </li>
					        </ul>
					    </div>
					</li>
					<li class="bold btn-filter">
					    <button type="submit" class="save btn btn-default"> Filter </button>
					</li>
				</ul>
			</form>
		</aside>
		<div class="col s7 l9">
			<div class="col s12 filters">
				{% if filled_form.dp.value %}
				<div class="chip">
				    <img src="{% static 'collector/images/DemocraticLogo.png' %}" alt="Contact Person">
				    Democratic Party
				 </div>
				 {% endif%}
				 {% if filled_form.rp.value %}
				 <div class="chip">
				    <img src="{% static 'collector/images/RepublicanLogo.png' %}" alt="Contact Person">
				    Republican Party
				 </div>
				 {% endif%}
				 {% if filled_form.dt.value %}
				 <div class="chip">
				    <img src="{% static 'collector/images/donald-trump.png' %}" alt="Contact Person">
				    Donald Trump
				 </div>
				 {% endif%}
				 {% if filled_form.hc.value %}
				 <div class="chip">
				    <img src="{% static 'collector/images/hillary-clinton.png' %}" alt="Contact Person">
				    Hillary Clinton
				 </div>
				 {% endif%}
				 {% if filled_form.mr.value %}
				 <div class="chip">
				    <img src="{% static 'collector/images/marco-rubio.png' %}" alt="Contact Person">
				    Marco Rubio
				 </div>
				 {% endif%}
				 {% if filled_form.tc.value %}
				 <div class="chip">
				    <img src="{% static 'collector/images/ted-cruz.png' %}" alt="Contact Person">
				    Ted Cruz
				 </div>
				 {% endif%}
				 {% if filled_form.bs.value %}
				 <div class="chip">
				    <img src="{% static 'collector/images/bernie-sanders.png' %}" alt="Contact Person">
				    Bernie Sanders
				 </div>
				 {% endif%}
			</div>
			<div class="col s12">
			    <div class="col s12 m6 l4">
		          <div class="card light-blue">
		            <div class="card-content center white-text">
		              <span class="card-title "><i class="fa fa-twitter" aria-hidden="true"></i> Tweets</span>
		                   <h4 >{{ tweets_number}}</h4>
		            </div>
		          </div>
		        </div>

		        <div class="col s12 m6 l4">
		          <div class="card purple">
		            <div class="card-content center white-text">
		              <span class="card-title"><strong>#</strong> Hashtags </span>
		              <h4>{{ hashtags_number}}</h4>
		            </div>
		          </div>
		        </div>

		        <div class="col s12 m6 l4">
		          <div class="card pink">
		            <div class="card-content center white-text">
		              <span class="card-title"> <i class="fa fa-tags" aria-hidden="true"></i> Mentions </span>
		              <h4>{{ users_number}}</h4>
		            </div>
		          </div>
		        </div>

		        <div class="col s12 m6 l4 offset-l4">
		          <div class="card teal">
		            <div class="card-content center white-text">
		              <span class="card-title"><i class="fa fa-users" aria-hidden="true"></i> Users </span>
		              <h4>{{ owners_number}}</h4>
		            </div>
		          </div>
		        </div>
			</div>
			<div class="col s12">
				<div class="col s12 m6">
		        <div class="card">
				    <div class="card-image waves-effect waves-block waves-light">
				      {{graph_languages |safe}}
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-4">Languages<i class="material-icons right">more_vert</i></span>
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-4">Languages Description<i class="material-icons right">close</i></span>
				      <p>Here is some more information about this product that is only revealed once clicked on.</p>
				    </div>
				</div>
				</div>
				<div class="card col s12 m6">
				    <div class="card-image waves-effect waves-block waves-light">
				      {{graph_sentiment |safe}}
				    </div>
				    <div class="card-content">
				      <span class="card-title activator grey-text text-darken-4">Sentiment<i class="material-icons right">more_vert</i></span>
				    </div>
				    <div class="card-reveal">
				      <span class="card-title grey-text text-darken-4">Sentiment<i class="material-icons right">close</i></span>
				      <p>Here is some more information about this product that is only revealed once clicked on.</p>
				    </div>
				</div>
		    </div>
		</div>
</div>

<div> {{graph_languages |safe}} </div>
<div> {{graph_sentiment |safe}} </div>

{% endblock %}