{% extends "collector/base.html" %}

{% block title %} Twitter Elections {% endblock %}

{% block content %}
<div class="container">
	
	<ul>
	{% for term in count_alt %}
	    <li>{{ term }}</li>
	{% endfor %}
	</ul>
	
	<h1> Hashtags</h1>
	<ul>
	{% for term in count_hash%}
	    <li>{{ term }}</li>
	{% endfor %}
	</ul>
	
	<h1>Except Hashtags</h1>
	<ul>
	{% for term in count_only%}
	    <li>{{ term }}</li>
	{% endfor %}
	</ul>

	<h1>Bigrams</h1>
	<ul>
	{% for term in count_bigrams%}
	    <li>{{ term }}</li>
	{% endfor %}
	</ul>

</div>
{% endblock %}