{% extends "collector/base.html" %}
{% block title %}Twitter Elections{% endblock %}
{% block content %}

	<p>{{ tweet.content }}</p>


	<h1>Terms Only</h1>
	<ul class="">
	{% for tweet_part in terms_only %}
	    <li>{{ tweet_part }} </li>
	{% endfor %}
	</ul>
	<div class="row">
		<div class="col s12 m6 ">
			<h1>Terms Stop</h1>
			<ul class="">
			{% for tweet_part in terms_stop %}
			    <li>{{ tweet_part }} </li>
			{% endfor %}
			</ul>
		</div>
		<div class="col s12 m6 ">
			<h1>Terms Stop Single</h1>
			<ul class="">
			{% for tweet_part in terms_stop_single %}
			    <li>{{ tweet_part }} </li>
			{% endfor %}
			</ul>
		</div>
	</div>
	


	
	<h1> Com</h1>
		
	<p>{{ com }}</p>

	<h1> Com_Max</h1>
	<p>{{ com_max }}</p>
	
{% endblock %}